{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
<link href="{{asset('css/blog.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-8 blog-main">
{% for annonce in annonces %}
<div class="blog-post">
        <h2 class="blog-post-title">{{annonce.title}}</h2>
        <h3>{{annonce.categories.name}}</h2>
        <p class="blog-post-meta">{{annonce.createdAt | date('d/m/Y') }} <a href="#">{{annonce.users.username }}</a></p>

        <p>{{annonce.content | raw}}</p>
      </div>

{% endfor %}
</div>
</div>

{% endblock %}
